/* Portrait tablet to landscape and desktop*/
@media (min-width: 768px) and (max-width: 979px) { 
	#about,#process,#blog,#contact,#portfolio{
		height:1300px;
	}
	.m-arrow-down{
		visibility: hidden;
	}
} 

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#about,#contact,#portfolio{
		height:1000px;
	}
	#process{
		height:1300px;
	}
	#blog{
		height:1200px;
	}
	.m-about-image{
		display: inline-block;
		text-align: center;
	}
	.m-about-desc, #about{
		text-align: center;
	}
	.m-arrow-down{
		visibility: hidden;
	}

}