@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400|Merriweather:300,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
/*div{
	border: 1px solid #000;
}*/
body{
	font-family: 'Open Sans', 'sans-serif';
	background: url('../images/bg.png') repeat;
}
input{
	font-family: 'Lato', sans-serif;
}
.m-nav{
	width: 100%;
	background-color: #FFF;
	border-bottom: 1px solid #EBEDEE;
}
li > a{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: #000 !important;
	font-weight: 300;
}
li > a:hover{
	color: #026495 !important;
	background-color: transparent !important;
}
.navbar-brand:hover{
	color: #111111 !important;
	font-weight: normal;
}
.navbar-toggle{
		background-color: #000000;
		border: 0px solid transparent;
}
.m-footer{
	background-color: #FFF;
	position:relative;
	text-align: center;
	bottom:0px;
	padding:20px;
	height:200px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color:  #717171;
}
.btn-large{
	background-color: transparent;
	transition-property:border-color color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
	border: solid 3px #FFF;
	padding: 20px 80px;
	color:#FFF;
	border-radius: 0px;
	font-size: 25px; 
}
.btn-large:hover{
	border: solid 2px #FFF;
	padding: 20px 80px;
	border-radius: 0px;
	font-size: 25px; 
	transition-property:border-color color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
	border: solid 3px #EC6F66;
	color:#EC6F66;
}
.m-frm-textarea{
	width: 70%;
	padding: 10px 18px;
}
.m-frm-textinput{
	font-size: 15px;
	width: 70%;
	height: 20px;
	border:0px;
	padding: 20px;
	border-radius: 2px;
}
/* Section: About */
.m-section-about{
	height: 500px;
}
.m-section-about-inner{
	display: inline;
}
.m-footer-block{
	padding: 5px;
}
.m-about-title{
	font-size:50px;
}
.m-about-sub-title{
	font-size:30px;
}
h1{
	color:#FFF;
	font-size: 40px;
}
h2{
	color:#FFF;
}

/* Section: Blog */

#blog{
	background-color: #3085C6;
	padding-top: 70px;
	height:768px;
	width: 100%;
	text-align: center;
}

#process{
	background-color: #40A274;
	padding-top: 70px;
	height:768px;
	width: 100%;
	text-align: center;
}


/* Section: Portfolio */

#portfolio{
	background-color: #C55855;
	padding-top: 70px;
	height:768px;
	width: 100%;
	text-align: center;
}


/* Section: Contact */

#contact{
	background-color: #141023;
	padding-top: 70px;
	height:768px;
	width: 100%;
	text-align: center;
}



/* Custom */

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
.anim{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;
 
animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
 
animation-fill-mode:both;
-webkit-animation-duration:3s;
-moz-animation-duration:3s;
-ms-animation-duration:3s;
-o-animation-duration:3s;
animation-duration:3s;
}
 
 
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.scale-in-anim{
  -webkit-animation-name: scale-in;
  -webkit-animation-duration: .7s;
  -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
  -webkit-animation-delay: .4s;
  -webkit-animation-fill-mode: both;
}
@-webkit-keyframes scale-in
{
    0% { 
        opacity             : 0;
        -webkit-transform   : scale(.05);
    }
    100% {
        opacity             : 1;
        -webkit-transform   : scale(1);
    }
}